<div class="gf-wrapper">
  <form>
    <md-card>
      <md-input-container class="form-group form-group--big">
        <input
          mdInput
          type="text"
          name="name" 
          placeholder="Name"
          required
          [(ngModel)]="hero.name"
          #name="ngModel"
        >
        <md-error [hidden]="name.valid">Name is required</md-error>
      </md-input-container>

      <div class="form-group form-group--big">
        <h1>Skills</h1>
        {{ points }} points
        <app-distributor
          name="Programming"
          [(ngModel)]="hero.skills.programming"
          [groupPoints]="points"></app-distributor>
        <app-distributor
          name="BJJ"
          [(ngModel)]="hero.skills.bjj"
          [groupPoints]="points"></app-distributor>
        <app-distributor
          name="FIFA"
          [(ngModel)]="hero.skills.fifa"
          [groupPoints]="points"></app-distributor>
      </div>
    </md-card>
  </form>

  <pre>
  <code>{{ hero | json }}</code>
  </pre>

</div>