<md-grid-list cols="4" rowHeight="40px">
  <md-grid-tile>
    <span>{{ name }}</span>
  </md-grid-tile>
  <md-grid-tile>
    <button
      type="button"
      class="app-button"
      (click)="decrement()"
      [disabled]="groupPoints === 10 || points === 0">-</button>
    <span class="skill-counter">
      {{ points }}
    </span>
    <button
      type="button"
      class="app-button"
      (click)="increment()"
      [disabled]="groupPoints === 0">+</button>
  </md-grid-tile>
</md-grid-list>
