/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto;
}

app-model-driven,
app-template-driven {
  display: block;
  background: #fdfdfd;
  padding: 40px;
}

.gf-wrapper {
  margin: 0 auto;
  max-width: 960px;
  min-width: 960px;
}

.mat-checkbox {
  padding: 0 20px 0 0;
}

.app-label {
  display: block;
  margin-bottom: 15px;
}

.mat-radio-button {
  display: block !important;
  margin: 0 0 20px;
}

.mat-mini-fab {
  border-radius: 0 !important;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}

.app-tab-container {
  padding: 40px;

}

.form-group {
  display: block;
  margin-bottom: 20px;
}

.form-group--big {
  margin-bottom: 30px;
}

.skill-container {
  background-color: #fff;
}

.skill-counter {
  display: inline-block;
  padding: 0 20px;
}


// h1 {
//   font-size: 15px;
//   padding: 0;
//   margin: 0 0 5px;
//   color: #999;
//   font-weight: normal;
// }









