<div class="gf-wrapper">
  <form [formGroup]="heroForm" (submit)="createHero()" class="form-group form-group--big">
    <md-card>
      <md-tab-group>
        <md-tab label="1. Personal info">
          <div class="app-tab-container">
            <md-input-container class="form-group form-group--big">
              <input mdInput placeholder="Name *" formControlName="name">
              <md-error
                *ngIf="heroForm.get('name').touched && heroForm.get('name').pristine &&
                heroForm.get('name').hasError('required')"
              >
                Name is <strong>required</strong>
              </md-error>
              <md-error
                *ngIf="heroForm.get('name').touched &&
                heroForm.get('name').hasError('minlength')"
              >
                The min length for the name is <strong>3</strong>
              </md-error>
            </md-input-container>

            <div class="form-group form-group--big">
              <span class="app-label">Sex</span>
              <md-radio-group formControlName="sex">
                <md-radio-button value="Male">
                  Male
                </md-radio-button>
                <md-radio-button value="Female">
                  Female
                </md-radio-button>
              </md-radio-group>
            </div>

            <md-input-container>
              <input type="text" mdInput placeholder="Github" formControlName="github" [mdAutocomplete]="auto">
            </md-input-container>
            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let user of users | async" [value]="user.login">
                <img width="20" height="20" [src]="user.avatar_url">
                {{ user.login }}
              </md-option>
            </md-autocomplete>

            <div class="form-group form-group--big">
              <md-select placeholder="Rival" formControlName="rival">
                <md-option value="Mr. Catchup">Mr. Catchup</md-option>
                <md-option value="PHP">PHP</md-option>
                <md-option value="Chocholate">Chocolate</md-option>
              </md-select>
            </div>
          </div>
        </md-tab>

        <md-tab label="2. Superpowers" [disabled]="!isFirstStepValid">
          <div class="app-tab-container">
            <div class="form-group form-group--big">
              <span class="app-label">Superpowers *</span>
              <div formGroupName="superpowers">  
                <md-checkbox class="app-checkbox" [formControlName]="power.id" *ngFor="let power of superpowers">
                  {{ power.name }}
                </md-checkbox>
                <md-error *ngIf="!heroForm.get('superpowers').pristine && heroForm.get('superpowers').hasError('atleasttwo')">
                  The hero should have at least two powers
                </md-error>
              </div>    
            </div> 
          </div>
        </md-tab>

        <md-tab label="3. Skills">
          <div class="app-tab-container">
            <div class="form-group form-group--big" formGroupName="skills">
              <h2>Skills <span>{{ points }} points</span></h2>
              <app-distributor name="Programming" [groupPoints]="points" formControlName="programming"></app-distributor>
              <app-distributor name="Fifa" [groupPoints]="points" formControlName="fifa"></app-distributor>
              <app-distributor name="BJJ" [groupPoints]="points" formControlName="bjj"></app-distributor>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card>

    {{ name.valid }}
    <button md-raised-button [disabled]="heroForm.invalid">Create</button>
  </form>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Github</th>
        <th>Rival</th>
        <th>Superpowers</th>
        <th>Skills</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes">
        <td>{{ hero.name }}</td>
        <td>{{ hero.sex }}</td>
        <td>{{ hero.github }}</td>
        <td>{{ hero.rival }}</td>
        <td>
          <span>
            <div *ngIf="hero.superpowers.fly">Fly</div>
            <div *ngIf="hero.superpowers.invisibility">Invisibility</div>
            <div *ngIf="hero.superpowers.healing">Healing</div>
            <div *ngIf="hero.superpowers.nightVision">Night vision</div>
          </span>
        </td>
        <td>
          <span>
            <div><strong>Programming:</strong> {{ hero.skills.programming }}</div>
            <div><strong>BJJ:</strong> {{ hero.skills.bjj }}</div>
            <div><strong>FIFA:</strong> {{ hero.skills.fifa }}</div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>   
</div>