<div class="gf-wrapper">
  <form [formGroup]="heroForm" (submit)="createHero()" class="form-group">
    <md-card class="app-form mat-card--no-padding">
      <md-tab-group [(selectedIndex)]="currentStep">
        <md-tab>
          <ng-template md-tab-label>
            <span [ngClass]="{'is-valid': isFirstStepValid}">1. Personal info</span>
         </ng-template>
          <div class="app-tab-container">
            <md-input-container class="form-group">
              <input mdInput placeholder="Name *" formControlName="name">
              <md-error
                *ngIf="heroForm.get('name').pristine &&
                heroForm.get('name').hasError('required')"
              >
                Name is <strong>required</strong>
              </md-error>
              <md-error
                *ngIf="heroForm.get('name').touched &&
                heroForm.get('name').hasError('minlength')"
              >
                The min length for the name is <strong>3</strong>
              </md-error>
            </md-input-container>

            <div class="form-group">
              <span class="app-label">Sex</span>
              <md-radio-group formControlName="sex">
                <md-radio-button value="Male" color="primary">
                  Male
                </md-radio-button>
                <md-radio-button value="Female" color="primary">
                  Female
                </md-radio-button>
              </md-radio-group>
            </div>

            <md-input-container class="form-group">
              <input type="text" mdInput placeholder="GitHub" formControlName="github" [mdAutocomplete]="auto">
              <md-error
                *ngIf="heroForm.get('github').touched && heroForm.get('github').pristine &&
                heroForm.get('github').hasError('required')"
              >
                GitHub is <strong>required</strong>
              </md-error>
            </md-input-container>
            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let user of users | async" [value]="user.login">
                <img width="20" height="20" [src]="user.avatar_url">
                {{ user.login }}
              </md-option>
            </md-autocomplete>

            <div class="form-group">
              <md-select placeholder="Rival" formControlName="rival">
                <md-option value="Lazyness">Lazyness</md-option>
                <md-option value="Singer">Singer</md-option>
                <md-option value="Chocholate">Chocolate</md-option>
              </md-select>
            </div>
          </div>
        </md-tab>

        <md-tab label="2. Superpowers" [disabled]="!isFirstStepValid">
          <ng-template md-tab-label>
            <span [ngClass]="{'is-valid': isSecondStepValid}">2. Superpowers</span>
          </ng-template>
          <div class="app-tab-container">
            <div class="form-group">
              <p class="app-label">Select at least two superpowers</p>
              <div formGroupName="superpowers">  
                <md-checkbox class="app-checkbox" [formControlName]="power.id" *ngFor="let power of superpowers" color="primary">
                  {{ power.name }}
                </md-checkbox>
                <md-error class="app-hint" *ngIf="!heroForm.get('superpowers').pristine && heroForm.get('superpowers').hasError('atleasttwo')">
                  The hero should have at least two powers
                </md-error>
              </div>    
            </div> 
          </div>
        </md-tab>

        <md-tab label="3. Skills" [disabled]="!isFirstStepValid || !isSecondStepValid">
          <div class="app-tab-container">
            <div class="form-group" formGroupName="skills">
              <p class="app-label">You have 10 points to distribute between the following skills. <strong>{{ points }} remaning</strong></p>
              <app-distributor
                name="Programming"
                formControlName="programming"
                [groupPoints]="points"
              ></app-distributor>
              <app-distributor name="Fifa" [groupPoints]="points" formControlName="fifa"></app-distributor>
              <app-distributor name="BJJ" [groupPoints]="points" formControlName="bjj"></app-distributor>
              <md-error class="app-hint" *ngIf="!heroForm.get('skills').pristine && heroForm.get('skills').hasError('allpoints')">
                You must distribute all skill points.
              </md-error>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card>

    <div class="app-form-footer">
      <button
        type="button"
        md-button
        (click)="back()"
        *ngIf="currentStep !== 0"
      >Back</button>

      <button
        type="reset"
        md-raised-button
        color="primary"
        (click)="createHero()"
        *ngIf="heroForm.valid && currentStep === 2"
      >Create</button>

      <button
        type="button"
        md-raised-button
        color="accent"
        class="app-form-next"
        [disabled]="!isFirstStepValid || currentStep > 0 && !isSecondStepValid"
        (click)="next()"
        *ngIf="currentStep < 2"
      >Next</button>
    </div>
  </form>

  <md-card>
    <pre>
<code>{{ heroForm.value | json }}</code>
    </pre>
  </md-card>

  <!-- <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Github</th>
        <th>Rival</th>
        <th>Superpowers</th>
        <th>Skills</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes">
        <td>{{ hero.name }}</td>
        <td>{{ hero.sex }}</td>
        <td>{{ hero.github }}</td>
        <td>{{ hero.rival }}</td>
        <td>
          <span>
            <div *ngIf="hero.superpowers.fly">Fly</div>
            <div *ngIf="hero.superpowers.invisibility">Invisibility</div>
            <div *ngIf="hero.superpowers.healing">Healing</div>
            <div *ngIf="hero.superpowers.nightVision">Night vision</div>
          </span>
        </td>
        <td>
          <span>
            <div><strong>Programming:</strong> {{ hero.skills.programming }}</div>
            <div><strong>BJJ:</strong> {{ hero.skills.bjj }}</div>
            <div><strong>FIFA:</strong> {{ hero.skills.fifa }}</div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>    -->
</div>